*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin:0 auto;
}
body{
    background-color: #EDF3F8;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    padding-left: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #36536B;
    display: block;
}
nav ul li a:hover{
    color: black;
    font-weight: 700;
}
.btn{
    width: 173px;
    height: 40px;
    background-color: #BA4270;
    color: white;
    box-shadow: 10px 10px 25px -10px #36536B40;
    border: none;
    border-radius: 30px;
}
.sec-1 h1{
font-weight: 700;
font-size: 60px;
line-height: 72px;
letter-spacing: -0.55px;

}
.sec-1 img{
    width: 50%;
}
.sec-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ota{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.ota p{
    color: #6C8294;
    padding-top: 30px;
}
.ota1{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    text-align: center;
}
.cards{
    color: #36536B;
    width: 200px;
    height: 200px;
}
.cards h3{
    padding-top: 20px;
}



.head-foot{
    background-color: #1B262F;
    padding: 30px 0;
    margin-top: 100px;
}
.ota2{
    display: flex;
    align-items: center;
    gap: 100px;
}
.text{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
}
.hero-i{
    color: white;
    font-size: 25px;
    gap: 50px;
    padding-left: ;
}
.btn2{
    background: none;
    border: none;
    display: none;
    padding-left: 40px;
}
.sec-2 img{
   width: 90%;
}


@media (max-width:418px){
    nav{
        display: none;
    }
    .sec-1{
        flex-direction: column-reverse;
        padding-left: 20px;
    }
    .sec-1 h1{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .btn2{
        display: block;
    }
    .ota{
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }
    
    .ota1{
        flex-wrap: wrap;
    }
    .ota2{
        flex-direction: column;
    }
    .text{
        flex-direction: column;
       
    }
    .hero-i{
       display: flex;
       margin-left: -20px;
    }
    .sec-2 {
        padding-left: 30px;
    }
    
    
}
